<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CinemaManagementDatabase"
			 connectionString="Host=ep-solitary-bar-a1tpb2rn.ap-southeast-1.aws.neon.tech;Database=cinema_management;Username=admin;Password=age8cutxfXz5;"/>
	</connectionStrings>
</configuration>